.whole_page{

    display: flex;
    flex-direction: column;

}

.out_form{

    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 100px;

}

.form{

    display: flex;
    flex-direction: column;

}

.in_form{

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.before_comment{

    display: inline-flex;
    height: 30px;
    background-color: red;
    align-items: center;

}

.heading{

    display: flex;
    align-items: center;
    column-gap: 20px;

}

.comments{

    display: flex;
    align-self: center;

}

.success{

    background-color: green;

}

.failure{

    display: flex;
    flex-direction: row;
    background-color: red;

}

.extract{

    justify-self: end;

}