<!DOCTYPE html>
<html>
<head>
    <title>Alcohol Label Verification App</title>
    <link rel="stylesheet" type="text/css" href="../static/form.css">
</head>
<body>

  <div class="whole_page" id="whole_page">
    
    <div class="out_form">
      <div class="form">
        <div><h1>Alcohol Label Verification</h1></div>
        <div>
          <form id="form" enctype="multipart/form-data">
            <div class ="in_form">

              <div class="heading">
                <input type="file" name="file" id="fileInput">
                <div class="before_comment"><p id="f" hidden></p></div>
              </div>

              <div class="heading">
                <label for="brand">Brand Name:</label>
                <input type="text" name="brand" id= "brand" placeholder="Enter Brand Name">
                <div class="before_comment"><p id="b" hidden></p></div> 
              </div>

              <div class="heading">
                <label for="product">Product Type:</label>
                <input type="text" name="product" id= "product" placeholder="Enter Product Type">
                <div class="before_comment"><p id="p" hidden></p></div>
              </div>

              <div class="heading">
                <label for="content">Alcohol Content:</label>
                <input type="text" name="content" id= "content" placeholder="Enter Alcohol Content (%)">
                <div class="before_comment"><p id="a" hidden></p></div>
              </div>

              <div class="heading">
                <label for="net">Net Contents:</label>
                <input type="text" name="net" id="net" placeholder="Enter Net Contents (mL)">
                <div class="before_comment"><p id="n" hidden></p></div>
              </div>

              <div>
                <button type="submit">Validate</button>
                <div><p id="form_upload_err"></p></div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="preview" hidden>

        <h1>Image</h1>
        <img id= "preview_image", src="",width = "400", height="400">

      </div>

    </div>

    <div class="failure" id="failure" hidden>
      <h1></h1>
    </div>


    <div class="extract" hidden>
      <h3>TEXT EXTRACTED FROM IMAGE: </h3>
      <p></p>
    </div>

  </div>

  <div class="success" id="success" hidden>
      <h1>SUCCESS!</h1>
      <button type="button" id="reset">Reload Form</button>
  </div>

  <script src="{{ url_for('static', filename='upload_pic.js') }}"></script>

</body>
</html>